@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  font-family: Doris, sans-serif;
  line-height: 1.6;
  background: #f4f4f4; }

.container {
  max-width: 1080px;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden; }

a {
  text-decoration: none;
  color: white; }

ul {
  list-style: none; }

.is-active {
  color: #333333;
  background-color: #f4f4f4; }

.is-error {
  color: #333;
  background-color: #FF0000; }

.is-warning {
  color: #f4f4f4;
  background-color: #ffbc00; }

.is-active:hover {
  background-color: #ffbc00; }

h1 {
  font-size: 3rem; }

#logo {
  text-transform: uppercase;
  font-size: 4rem; }

.btn-main, .btn-light, .btn-dark, .btn-danger {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all o 0.5s;
  border: none;
  cursor: pointer; }

.btn-main {
  color: #333;
  background-color: #ffbc00; }

.btn-light {
  color: #333;
  background-color: #f4f4f4; }

.btn-dark {
  color: #f4f4f4;
  background-color: #333333; }

.btn-danger {
  color: #f4f4f4;
  background-color: #FF0000; }

button[class^='btn-']:hover,
a[class^='btn-']:hover,
input[class^='btn-']:hover {
  background-color: #ffbc00; }

.bg-main {
  background: #ffbc00;
  color: #fff; }

.bg-dark {
  background: #333333;
  color: #fff; }

.bg-light {
  background: #f4f4f4;
  color: #000; }

.bg-medium {
  background: #cccccc;
  color: #000; }

.text-center {
  text-align: center; }

.p-1 {
  padding: 1rem; }

.p-2 {
  padding: 2rem; }

.py-1 {
  padding: 1rem 0; }

.py-2 {
  padding: 2rem 0; }

.py-3 {
  padding: 3rem 0; }

.py-4 {
  padding: 4rem 0; }

.my-1 {
  margin: 1rem 0; }

.my-2 {
  margin: 2rem 0; }

.my-3 {
  margin: 3rem 0; }

.my-4 {
  margin: 4rem 0; }

.section-title {
  font-size: 2rem;
  display: block;
  padding-bottom: 0.5rem;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase; }

.bottom-line {
  height: 2px;
  width: 3rem;
  background: #ffbc00;
  display: block;
  margin: 0 auto 1rem auto; }

.hr-line {
  height: 1px;
  width: 100%;
  background: #ffbc00;
  display: block;
  margin: 0 auto 1rem auto; }

header {
  background: #333333;
  width: 100%;
  height: 45px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  padding: 1rem 0;
  font-size: small; }
  header #main-nav {
    display: flex;
    justify-content: space-between; }
    header #main-nav ul {
      display: flex; }
    header #main-nav li {
      padding: 1rem 1rem; }
    header #main-nav a {
      text-decoration: none;
      color: #fff;
      text-transform: uppercase;
      border-bottom: 3px transparent solid;
      transition: border-color 0.5s; }
      header #main-nav a:hover {
        border-color: #cccccc; }
      header #main-nav a.current {
        border-color: #ffbc00; }
    header #main-nav .logo {
      width: 90px;
      height: 45px; }
    header #main-nav form input {
      background: #f4f4f4 none repeat scroll 0 0;
      border: 0 none;
      color: #7f7d7d;
      float: left;
      font-size: 12px;
      padding: 5px;
      text-align: left;
      width: auto;
      margin: 0;
      margin-top: 1rem;
      margin-left: 10px; }
    header #main-nav .myCart .fa {
      margin-right: 1rem;
      border: 2px #fff solid;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      line-height: 20px;
      text-align: center;
      padding: 0.5rem; }
      header #main-nav .myCart .fa:hover {
        background: #ffbc00; }
    header #main-nav button {
      height: 100%; }
  header button {
    border: 1px solid #fff; }

#main-footer {
  background: #333333;
  color: #fff;
  height: 5rem; }
  #main-footer .footer-content {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center; }
    #main-footer .footer-content .social .fa {
      margin-right: 1rem;
      border: 2px #fff solid;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      line-height: 20px;
      text-align: center;
      padding: 0.5rem; }
      #main-footer .footer-content .social .fa:hover {
        background: #ffbc00; }

#work-a .item {
  color: #fff;
  display: flex;
  flex-direction: row;
  margin: 100px 0;
  padding: 20px;
  border-radius: 50px;
  background: #333333;
  box-shadow: -20px -20px 60px #323232, 20px 20px 60px #323232; }
  #work-a .item .item-image {
    background-color: unset; }
  #work-a .item .item-image img {
    width: 200px;
    border-radius: 50%;
    background: unset; }

.text-fields {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto; }

.container .mapouter {
  margin: 40px auto; }

#contact-b .contact-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

#contact-a form {
  padding: 50px;
  border-radius: 50px;
  background: #333333;
  box-shadow: -20px -20px 60px #323232, 20px 20px 60px #323232; }
  #contact-a form h2 {
    color: #fff;
    padding: 0  30px 30px 30px; }
  #contact-a form .text-fields input, #contact-a form .text-fields textarea {
    background-color: white; }

#home {
  padding: 2rem 0; }

#news-b {
  padding: 0 50px;
  margin: 100px 50px;
  color: #fff;
  border-radius: 50px;
  background: #333333;
  box-shadow: -20px -20px 60px #323232, 20px 20px 60px #323232; }

.btn-dark {
  background-color: #6d6d6d;
  border-radius: 25px; }

#posts-list img {
  border-radius: 25px; }

article {
  padding: 0 50px;
  color: #fff;
  border-radius: 50px;
  background: #333333;
  box-shadow: -20px -20px 60px #323232, 20px 20px 60px #323232; }

#apropos .usage h2 {
  text-align: center;
  border-radius: 50px;
  background: #f4f4f4;
  box-shadow: -20px -20px 60px #323232, 20px 20px 60px #323232; }

#apropos .container h1 {
  margin: 20px 0;
  text-align: center;
  border-radius: 50px;
  background: #f4f4f4;
  box-shadow: -20px -20px 60px #323232, 20px 20px 60px #323232; }

#apropos .container button {
  background-color: #E0E5EC;
  border: none;
  border-radius: 6px;
  box-shadow: 9px 9px 16px #cccccc, -9px -9px 16px #cccccc;
  color: #4D3252;
  font-weight: 700;
  height: 96px;
  display: block;
  margin: 50px auto;
  overflow: hidden;
  position: relative;
  text-transform: uppercase; }

#apropos .container button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  opacity: 0;
  transform: translateX(-100%);
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0.3) 100%); }

#apropos .container button:hover:after {
  opacity: 1;
  top: 0;
  left: 0;
  transform: translateX(0);
  transition-property: transform, opacity;
  transition-duration: 0.7s, 0.15s;
  transition-timing-function: ease; }

#apropos .container button:active:after {
  opacity: 0; }

#apropos form {
  padding: 20px;
  width: 400px;
  margin: 0 auto; }

#apropos button, #apropos input, #apropos textarea, #apropos select {
  border: 0;
  outline: 0;
  padding: 20px;
  text-shadow: 1px 1px 0 #fff;
  font-size: 20px;
  border-radius: 20px;
  background-color: #EBECF0; }

#apropos label, #apropos select {
  display: block;
  margin-bottom: 30px;
  width: 100%; }

#apropos input, #apropos textarea {
  margin-right: 10px;
  width: 100%;
  appearance: none;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  box-shadow: inset 3px 3px 5px #BABECC, inset -5px -5px 10px #fff; }
  #apropos input:focus, #apropos textarea:focus {
    box-shadow: inset 2px 2px 3px #BABECC, inset -2px -2px 3px #fff; }

#apropos button {
  color: #61677C;
  font-weight: bolder;
  cursor: pointer;
  font-weight: 700;
  box-shadow: -6px -6px 21px #fff, 6px 6px 20px #BABECC;
  transition: all 0.2s ease-in-out; }
  #apropos button:hover {
    box-shadow: -3px -3px 6px #fff, 3px 3px 6px #BABECC; }
  #apropos button:active {
    box-shadow: inset 2px 2px 2px #BABECC, inset -2px -2px 2px #fff; }

.darkTable {
  width: 75%;
  margin: 20px auto; }

table.darkTable {
  font-family: "Arial Black", Gadget, sans-serif;
  border: 2px solid #333333;
  background-color: #6d6d6d;
  height: 200px;
  text-align: center;
  border-collapse: collapse; }

table.darkTable td, table.darkTable th {
  border: 1px solid #6d6d6d;
  padding: 3px 2px; }

table.darkTable tbody td {
  font-size: 13px;
  color: #cccccc; }

table.darkTable tr:nth-child(even) {
  background: #888888; }

table.darkTable thead {
  background: #333333;
  border-bottom: 3px solid #333333; }

table.darkTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #cccccc;
  text-align: center;
  border-left: 2px solid #6d6d6d; }

table.darkTable thead th:first-child {
  border-left: none; }

table.darkTable tfoot {
  font-size: 12px;
  font-weight: bold;
  color: #cccccc;
  background: #333333;
  background: -moz-linear-gradient(top, #f4f4f4 0%, #191919 66%, #333333 100%);
  background: -webkit-linear-gradient(top, #f4f4f4 0%, #191919 66%, #333333 100%);
  background: linear-gradient(to bottom, #f4f4f4 0%, #191919 66%, #333333 100%);
  border-top: 1px solid #6d6d6d; }

table.darkTable tfoot td {
  font-size: 12px; }

h2 {
  text-align: center; }

#frontpage h1, #frontpage h2, #frontpage h3, #frontpage p {
  text-align: center;
  padding: 20px;
  margin: 20px; }

#frontpage h1, #frontpage h2, #frontpage h3, #frontpage ul, #frontpage li {
  width: 70%;
  margin: 0 auto;
  box-sizing: border-box;
  box-shadow: inset 3px 3px 5px #f4f4f4, inset -5px -5px 10px #333333; }

#frontpage p {
  background-color: #6d6d6d;
  margin: 20px auto;
  padding: 20px 0;
  width: 70%;
  appearance: none;
  box-sizing: border-box;
  box-shadow: inset 3px 3px 5px #BABECC, inset -5px -5px 10px #fff; }

#frontpage .titre1, #frontpage .titre2, #frontpage li {
  margin: 50px auto; }

#frontpage .titre2 li, #frontpage .titre2 ul {
  padding: 20px; }
