// Header
header{
  background: $dark-color;
  width: 100%;
  height: 45px;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.25);
  padding: 1rem 0;
  font-size: small;

  #main-nav{
    display: flex;
    justify-content: space-between;
  
    ul{
      display: flex;
    }
  
    li{
      padding: 1rem 1rem;
    }
  
    a{
      text-decoration: none;
      color: #fff;
      text-transform: uppercase;
      border-bottom: 3px transparent solid;
      // padding-bottom: 0.5rem;
      transition: border-color 0.5s;
  
      &:hover{
        border-color: $medium-color;
      }
  
      &.current{
        border-color: $main-color;
      }
    }
    
    .logo{
      width: 90px;
      height: 45px;
    }

    form input{
      background: $light-color none repeat scroll 0 0;
      border: 0 none;
      color: #7f7d7d;
      float: left;
      font-size: 12px;
      padding: 5px;
      text-align: left;
      width: auto;
      margin: 0;
      margin-top: 1rem;
      margin-left: 10px;
    }

    .myCart .fa{
      margin-right: 1rem;
      border: 2px #fff solid;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      line-height: 20px;
      text-align: center;
      padding: 0.5rem;

      &:hover{
        background: $main-color;
      }
    }

    
  button{
    height: 100%;
  }
  }

  button{
    border: 1px solid #fff;
  }
}

// Footer
#main-footer{
  background: $dark-color;
  color: #fff;
  height: 5rem;

  .footer-content{
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;

    .social .fa{
      margin-right: 1rem;
      border: 2px #fff solid;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      line-height: 20px;
      text-align: center;
      padding: 0.5rem;

      &:hover{
        background: $main-color;
      }
    }
  }
}


//main
#work-a{
  
  .item{
    color: #fff;
    display: flex;
    flex-direction: row;
    margin: 100px 0;
    padding: 20px;
    border-radius: 50px;
    background: $dark-color;
    box-shadow:  -20px -20px 60px $light-dark-color, 20px 20px 60px $light-dark-color;
    .item-image{
      background-color: unset;
    }
    .item-image img{
      width: 200px;
      border-radius: 50%;
      background: unset;
    }
  }
}

//page contact
.text-fields{
  display: flex ;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}
.container .mapouter{
  margin: 40px auto;
}

#contact-b .contact-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#contact-a form{
  padding: 50px;
  border-radius: 50px;
  background: $dark-color;
  box-shadow:  -20px -20px 60px $light-dark-color, 20px 20px 60px $light-dark-color;
  h2{
    color: $white;padding:0  30px 30px 30px;
  }
  .text-fields input, .text-fields textarea{
    background-color: white;
  }
}
  
#home{
  padding: 2rem 0;
}

//Blog
#news-b{
  padding: 0 50px;
  margin: 100px 50px;
  color: $white;

border-radius: 50px;
background: $dark-color;
box-shadow:  -20px -20px 60px $light-dark-color, 20px 20px 60px $light-dark-color;
  
}
.btn-dark{
  background-color: $btn-color;
  border-radius: 25px;
}

#posts-list img{
  border-radius: 25px;
}

article{
  padding: 0 50px;
  color: $white;
  border-radius: 50px;
  background: $dark-color;
  box-shadow:  -20px -20px 60px $light-dark-color, 20px 20px 60px $light-dark-color;
}

//A PROPOS
#apropos {
  .usage{
    h2{
      text-align: center;
      border-radius: 50px;
      background: $light-color;
      box-shadow:  -20px -20px 60px $light-dark-color, 20px 20px 60px $light-dark-color;
   
    }
  }
  .container {
    h1{
      margin: 20px 0;

      text-align: center;
      border-radius: 50px;
      background: $light-color;
      box-shadow:  -20px -20px 60px $light-dark-color, 20px 20px 60px $light-dark-color;
    }
    button {
      background-color:#E0E5EC;
      border: none;
      border-radius: 6px;
      box-shadow: 9px 9px 16px $medium-color, -9px -9px 16px $medium-color;
      color: #4D3252;
      font-weight: 700;
      height: 96px;
      display: block;
      margin: 50px auto;
      
      overflow: hidden;
      position: relative;
      text-transform: uppercase;
      // width: 96px;
    }

    button:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 200%;
      height: 100%;
      opacity: 0;
      transform: translateX(-100%);
      
      background: rgba(255, 255, 255, 0.13);
      background: linear-gradient(
        to right, 
        rgba(255, 255, 255, 0.13) 0%,
        rgba(255, 255, 255, 0.13) 77%,
        rgba(255, 255, 255, 0.5) 92%,
        rgba(255, 255, 255, 0.3) 100%
      );
    }

    button:hover:after {
      opacity: 1;
      top: 0;
      left: 0;
      transform: translateX(0);
      transition-property: transform, opacity;
      transition-duration: 0.7s, 0.15s;
      transition-timing-function: ease;
    }

    button:active:after {
      opacity: 0;
    }
  }

  form {
    padding: 20px;
    width: 400px;
    margin: 0 auto;
  }

  
  button, input, textarea, select {
    border: 0;
    outline: 0;
   
    padding: 20px;
    text-shadow: 1px 1px 0 $white; 
    font-size: 20px;
    border-radius: 20px;
    background-color:$bg-color;

  }
  
  label, select{
    display: block;
    margin-bottom: 30px;
    width: 100%;
  }
  
  input,  textarea{
    margin-right: 10px;
    width: 100%;
    appearance: none;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    box-shadow:  inset 3px 3px 5px $shadow-clr, inset -5px -5px 10px $white;
    &:focus {
      box-shadow:  inset 2px 2px 3px $shadow-clr, inset -2px -2px 3px $white;
    }
  }
  
  button {
    color:#61677C;
    font-weight: bolder;
    
    cursor: pointer;
    font-weight: 700;
    box-shadow: -6px -6px 21px $white,  6px 6px 20px $shadow-clr;
    transition: all 0.2s ease-in-out;

    &:hover {
      box-shadow: -3px -3px 6px $white, 3px 3px 6px $shadow-clr;
    }
    
    &:active {
      box-shadow: inset 2px 2px 2px $shadow-clr, inset -2px -2px 2px $white;
    }
  }
}
  
.darkTable{
  width: 75%;
  margin: 20px auto;
  
}
table.darkTable {

  font-family: "Arial Black", Gadget, sans-serif;
  border: 2px solid $dark-color;
  background-color: $btn-color;
  height: 200px;
  text-align: center;
  border-collapse: collapse;
}
table.darkTable td, table.darkTable th {
  border: 1px solid $btn-color;
  padding: 3px 2px;
}
table.darkTable tbody td {
  font-size: 13px;
  color: $medium-color;
}
table.darkTable tr:nth-child(even) {
  background: #888888;
}
table.darkTable thead {
  background: $dark-color;
  border-bottom: 3px solid $dark-color;
}
table.darkTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: $medium-color;
  text-align: center;
  border-left: 2px solid $btn-color;
}
table.darkTable thead th:first-child {
  border-left: none;
}
table.darkTable tfoot {
  font-size: 12px;
  font-weight: bold;
  color: $medium-color;
  background: $dark-color;
  background: -moz-linear-gradient(top, $light-color 0%, #191919 66%, $dark-color 100%);
  background: -webkit-linear-gradient(top, $light-color 0%, #191919 66%, $dark-color 100%);
  background: linear-gradient(to bottom, $light-color 0%, #191919 66%, $dark-color 100%);
  border-top: 1px solid $btn-color;
}
table.darkTable tfoot td {
  font-size: 12px;
}
h2{
  text-align: center;
}

#frontpage{
  h1,h2,h3, p{
    text-align: center;
    padding: 20px;
    margin: 20px;
  }
  h1,h2, h3, ul, li{
    width:70%;
    margin:0 auto;
    box-sizing: border-box;
    box-shadow:  inset 3px 3px 5px $light-color, inset -5px -5px 10px $dark-color;
  }
  p{
    background-color: $btn-color;
    margin:20px auto;
    padding: 20px 0;
    width:70%;
    appearance: none;
    box-sizing: border-box;
    box-shadow:  inset 3px 3px 5px $shadow-clr, inset -5px -5px 10px $white;
  }
  .titre1, .titre2, li{
    margin: 50px auto;
  }
  .titre2 li,.titre2 ul {
    padding: 20px;

  }
}


